* {
    margin: 0;
    padding: 0;

}

@font-face {
    font-family: 'TT Lakes';
    src: url('./fonts/TTLakes-ExtraLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
.body {
    font-family: "TT Lakes", "Arial", sans-serif;
    background-color: #EAEAEA;
    
}

.swiper-2 .swiper-pagination-bulled {
    background-color: #B5B6bc;
    width: 12px;
    height: 12px;
  }

.swiper-2.swiper-pagination-bullet-active{
    background-color: black;
}

@media (min-width: 320px) and (max-width: 767px) {
.header {
        padding-top: 20px;
        padding-left: 20px;
        padding-bottom: 10px;
        padding-right: 25px;
        border-top: 2px solid #D9FFF5;
        background: linear-gradient(#F8F8F8 100%, #7E7E82 0.01%);
        color: #7E7E82;
        font-size: 16px;
        text-transform: uppercase;
    }


.swiper-2  {
    display: flex;
    flex-direction: row;
    max-width: 320px;
    padding: 25px 5px 35px 5px;
}

.swiper-2 .svg {
    display: flex;
    justify-content: center;
    align-items: start;
    background-image: url('./image/go.svg');
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    margin-top: 0px;
    margin-left: 180px;
}

.swiper-2 .kart {
    display: flex;
    flex-direction: column;
    width: 240px;
    height: 160px;
    border-radius: 5px;
    color: black;
    border: 1px solid #EAEAEA;
    background-color: #F8F8F8;
}

.text {
    display: flex;
    justify-content: center;
    height: 80px;
    margin-top: 20px;
    margin-left: 20px;
}

.swiper-2 {
    width: 100%;
    max-width: 320px;
    padding: 25px 5px 35px 5px;
  }
  
  .swiper-2  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

}

/* @media (min-width: 320px) and (max-width: 767px) {




.buttons {
    display: none;
}
} */
