
* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('./font/TTLakes-ExtraLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  .swiper2 {
    width: 100%;
    min-height: 190px;
    max-width: 320px;
    padding: 25px 5px 35px 5px;
    padding-bottom: 35px;
    margin-bottom: 35px;
}
  .header2 {
    display: flex;
    min-width: 320px;
    height: 50px;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 25px;
    margin-bottom: 25px;
    border-top: 2px solid #D9FFF5;
    background: linear-gradient(#F8F8F8 100%, #7E7E82 0.01%);
    color: #7E7E82;
    font-size: 16px;
    text-transform: uppercase;
}

.svg2 {
    display: flex;
    justify-content: center;
    align-items: start;
    background-image: url('./icons/go.svg');
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    margin-top: 0px;
    margin-left: 180px;
}

.kart2 {
    display: flex;
    flex-direction: column;
    width: 240px;
    height: 160px;
    border-radius: 5px;
    color: black;
    border: 1px solid #EAEAEA;
    background-color: #F8F8F8;
    border-radius: 15px;


}

.text {
    display: flex;
    justify-content: center;
    height: 80px;
    margin-top: 20px;
    margin-left: 20px;
}

@media (min-width: 320px) and (max-width: 767px) {
    .logo2 {
        display: flex;
        width: 288px;
        height: auto;
        color: #7E7E82;
    }
}